 @import url('https://fonts.googleapis.com/css2? família = Aberto + Sans: wght @ 400; 700 & display = swap');

* {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

html {
    background: linear-gradient(#af67e9, #6565e7);
    min-height: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.faq {
    width: 65%; /* aqui deixa a caixa com a respectiva porcentagem*/
    min-height: 450px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.3) ;/* mozilla para estilizar a caixa*/
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 30px;
}

 .faq .ilustracao {
     position: relative;/*posiciona a imagem*/
     left: -120px;/* - deixa a imagem para fora da caixa*/
     width: 50%;
     margin: 50px 0;
}

.faq .conteudo{
    width: 40%;
    padding-bottom: 10px;
    
}

.faq .conteudo h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

.faq .conteudo .items {
    list-style-type: none;

}

.faq .conteudo .items .item {
    cursor: pointer;
    background-image:url(../src/icone-seta-pra-baixo.png);
    background-repeat: no-repeat;
    background-position: top 8px right 0;
    background-size: 12px;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
}

.faq .conteudo .items .item:last-child {
    border-bottom: none;

}

.item .pergunta {
    padding-bottom: 15px;
    transition: 0.2ms step-end;
}
.item .pergunta:hover {
    color: #f4c57f;
}

/*ESTILOS DO ITEM ATIVO*/
.faq .items .item.ativo h2 {
    font-weight: 700;

}

.faq  .items .item.ativo .resposta {
    display: block;
}

.faq .items .item.ativo {
    background-image:url(../src/icone-seta-pra-cima.png);
}

.item .resposta{
   display: none;
   padding-bottom: 15px;
}

@media(max-width: 1140px){
    .faq {
        flex-direction: column;
        width: 90%;
    }
    
    .faq .conteudo {
        width: 100%;
    }
    
    .faq .conteudo h1{
        font-size: 24px;
        text-align: center;
    }
    
    .faq .items{
        width: 80%;
       margin: 0 auto; 
    }

    .faq .items .pergunta{
        font-size: 16px;
    }

    .faq .ilustracao {
        width: 40%;
        left: 0;
        margin: 30px 0;
    }
}

@media(max-width: 425px){
    .faq{
        height: 540px;
    }
}






